<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <div class="navbar">
        <ul>
            <li><a href="/landing">Landing</a></li>
            <li><a href="/examples">Examples</a></li>
        </ul>    
    </div>
    <hr>
    <body>
        {% include content_template %}
    </body>
</html>