<style>
    .card {
        width: 100px;
        height: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid rgb(148, 142, 142);
        border-radius: 12px;
        box-shadow: 0.3px 0.2px 0.7px #d8d8d8;
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 1em;
        background-color: #d5d8cf;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    .card:hover {
        animation: background-color-change 0.7s;
        
    }

    @keyframes background-color-change {
        0% {
            background-color: #d5d8cf;
        }
        100% {
            background-color: #749c29;
        }
    }


    #example-gallery {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }
</style>
<div style="text-align: center;">
    <h1>Examples</h1>
</div>
<hr>
<div id="example-gallery">
    <!-- This is not really a button but when you hover over it, it will look like a button. Check out how it works -->
    <div class="card" onclick="window.location.href = '/examples/sum-it-up'">Sum it Up!</div>
    <div class="card" onclick="window.location.href = '/examples/mood-slider'">Mood Slider</div>
    <div class="card" onclick="window.location.href = '/examples/hidden-message'">Find The Message</div>
    <div class="card" onclick="window.location.href = '/examples/tap-to-thirty'">Tap To Thirty!</div>
</div>