
<div id="tree"></div>
<button id="save">Save</button>
<script src="{{ url_for('static', filename='js/familytree.js') }}"></script>
        <script>
             var family;

            

            function saveFamilyTree() {
                let currentData = Object.values(family.config.nodes);
                console.log(currentData)
                fetch("{{ url_for('saveFamilyTree') }}", {
                                    method: "POST",
                                    headers: { "Content-Type": "application/json" },
                                    body: JSON.stringify(currentData)
                                })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        console.log("Tree saved to " + data.path);
                    } else {
                        console.log("Save failed: " + data.error);
                    }
                })
                .catch(err => console.log("Save failed: " + err));
            }
           
             family = new FamilyTree("#tree", {
                    nodeBinding: {
                        field_0: "name",
                        field_1: "hobby",
                    },
                    nodeTreeMenu: true,
                    menu: {
                        pdf: { text: "Export PDF" },
                        png: { text: "Export PNG" },
                        json: { text: "Export JSON" }
                    },
                    nodes: {{ nodes | tojson | safe }}
                });

            document.getElementById("save").addEventListener("click", () => saveFamilyTree())
                
</script>