<style>

    .container.bordered {
        padding: 1em;
        border: 1px solid #bbb8b8;
        box-shadow: 0.2px 0.3px 0.7px #D8D8D8;
    }

    .container {
        margin: auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .number-input {
        height: 25px;
        font-size: 1.5rem;
        background-color: rgb(237, 238, 242);
        border-radius: 3px;
        border: 0.5px solid black
    }

    button[type='submit'] {
        padding: 1em;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        cursor: pointer;
    }

    button[type='submit']:hover {
        background-color: rgb(221, 71, 164);
    }


</style>
<div class="container bordered">
    <h1>Sum it up!</h1>
    <form id="sum-form" method="POST">
        <div class="container">
            <label for="first">First Number</label>
            <input id="first" class="number-input" type="number" name="first" required>
            <label for="second">Second Number</label>
            <input id="second" class="number-input" type="number" name="second" required>
            <br>
            <button type="submit">Sum it up!</button>
        </div>
    </form>
</div>